<tr id="<%= dom_id stock %> " class="my-5 space-y-5">
  <td><%= link_to stock.size, admin_product_stock_path(stock.product_id, stock.id) %></td>
  <td><%= stock.amount %></td>
  <td><%= stock.product_id %></td>
</tr>

