<% content_for :title, "New stock" %>

<h1>New stock</h1>

<%= render "form", admin_stock: @admin_stock %>

<br>

<div>
  <%= link_to "Back to stocks", admin_product_stocks_path, class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium text-decoration-none" %>
</div>
