<tr id="<%= dom_id category %>" class="my-5 space-y-5">
  <td>
    <div style="display: flex; width: 50px; height: 50px;">
      <%= category.image.present? ? image_tag(category.image) : image_tag("https://www.google.com/url?sa=i&url=https%3A%2F%2Ftinyjpg.com%2F&psig=AOvVaw3QcT6NE63t-HxWW9K8hsui&ust=1740845071793000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCMjepbPf5osDFQAAAAAdAAAAABAE") %>
    </div>
  </td>
  <td><%= link_to category.name, admin_category_path(category) %></td>
  <td><%= category.description %></td>
</tr>
