<% content_for :title, "Categories" %>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
  <h1 class="font-extrabold text-5xl text-gray-900">Categories</h1>
    <%= link_to "New category", new_admin_category_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
  <div id="admin_categories" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @admin_categories.any? %>
      <% @admin_categories.each do |admin_category| %>
        <div class="flex justify-between items-center">
          <%= render admin_category %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No categories found.</p>
    <% end %>
  </tbody>
</table>
</div>
