<% content_for :title, "Editing product" %>

<h1>Editing product</h1>

<div class="md:w-2/3 w-full">
  <%= render "form", admin_product: @admin_product %>
  <%= link_to "Show this product", admin_product_path(@admin_product), class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium text-decoration-none", style: "margin-left:8px" %> 
  <%= link_to "Back to products", admin_products_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium text-decoration-none" %>
</div>


