<% content_for :title, "New product" %>

<h1>New product</h1>

<%= render "form", admin_product: @admin_product %>

<br>

<div>
  <%= link_to "Back to products", admin_products_path, class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium text-decoration-none" %>
</div>
